* {
    list-style: none;
    text-decoration: none;
    margin: 0em;
    box-sizing: border-box;
}

/*Général */
body {
    font-family: 'Raleway', sans-serif;
}
header,main{
    margin: 0em 4em;
}

h1, h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 0.875rem;
    color: #000000;
}

p{
    font-size: 0.90rem;
    color:#000000;
}


/*Header */

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

header > img {
	display: block;
	width: auto;
}

Header > nav > ul {
    display: flex;
    flex-wrap: wrap;
}

header > nav > ul > li {
    padding: 1.5em;
    justify-content: flex-end;
    border-top: 0.2rem solid #FFFFFF;
}

header > nav > ul > li:hover {
    border-top: 0.2rem solid #0065FC;

}

header > nav > ul > li > a > p > b {
    color: #0065FC; 
}

header > nav > ul > li > a > p:hover {
    color: #0065FC;     
}

header > div {
    width: 100%;
    margin-bottom: 2em;
}
header > div > ul {
    display: flex;
    padding: 0px;
    justify-content: space-around;
}

header > div > ul > li {
    width: 100%;
    text-align: center;
    border-bottom: 0.2rem solid #F2F2F2;
}

header > div > ul > li:hover {
    border-bottom: 0.2rem solid #0065FC;
    color: #0065FC;
}

header > div > ul > li > a > p {
    padding: 1em;
}

header > div > ul > li > a > p:hover {
    color: #0065FC;
}

/*Recherche */

#recherche {
    margin-top: 1em;
}

#recherche > p {
    margin-top: 0.4em; 
}

#recherche > form > div {
  margin-top: 1em;
  cursor: pointer;  
  border-radius: 1em;
  display: flex;
  flex-wrap: nowrap;
}

#recherche > form > div > i {
   background-color: #f2f2f2;
   padding: 1em;
   border-radius: 1em 0em 0em 1em;
   justify-content: center;
   align-items: center;
}

#recherche > form > div > input {
    padding: 1em;
    padding-top: 1.2em;
    border: none;
    justify-content: center;
    align-items: center;
    border-top: solid 0.1em #f2f2f2;
    border-bottom: solid 0.1em #f2f2f2;
}

#site-search::placeholder {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

#site-search{
    padding-top: 1.2em;
    width: 17em;
}

#search-desktop {
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;   
    background-color: #0065FC;
    border-radius: 0em 1em 1em 0em;
    transition: background 0.5s;
}

#search-desktop:hover {
    opacity: 0.8;
}

    #recherche > form > div > button {
    padding: 0.9em;
    color: #FFFFFF;
    cursor: pointer;   
    background-color: #0065FC;
    border-radius: 1em 1em 1em 1em;
    width: 4em;
    transition: background 0.5s;
    border-color: #0065FC;
    }

    #recherche > form > div > button:hover {
    opacity: 0.8;
    }

/*Recherche > Filtre */

#recherche > div{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

#recherche > div > h3 {
    align-self: center;
} 

#recherche > div > ul > li > a > div > i,
#recherche > div > i {
    color: #0065FC;
}

#recherche > div > ul, #recherche > div > ul > li > a, #recherche > div:last-child {
    display: flex;
    flex-wrap: wrap;
}

#recherche > div > ul > li {
    margin: 1em;
}

#recherche > div > ul > li:first-child {
    margin-left: 0em;
}

#recherche > div > ul > li > a {
    border: solid 0.1em #d9d9d9;
    border-radius: 2em;
    transition: background 0.5s;
}
#recherche > div > ul > li > a:hover {
    background: #f2f2f2;
}



#recherche > div > ul > li > a > div  {
    background-color:#deebff; 
    padding: 1em;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recherche > div > ul > li > a > p  {
    padding: 0 0.6em;
    align-self: center;
}

/*Recherche > Result */

#recherche > div > i {
    font-size: 0.6em;
}

#recherche > div > i {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.1em #d9d9d9;
    border-radius: 100%;
    margin-right: 1em;
    height: 1.5rem;
    width: 1.5rem;
}

#recherche > div > p {
    display: flex;
    justify-content: center;
    align-items: center;
}




/*Conteneur articles */

#contenu-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
}



/*Hébergements */

#hebergements {
    background-color: #f2f2f2;
    border-radius: 1em;
    padding: 2em;
    margin-right: 1em;
}

#hebergements > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 46em;
}

#hebergements > div > a > figure {
    background: #fffFFF;
    border-radius: 1rem;
    box-shadow: 0 0 1em #00000014;
    transition: transform 0.5s ease;
    flex-grow: 1;
    width: 14em;
    height: 11em;
    padding: 0.4em;
    display: flex;
    flex-direction: column;
    margin-top: 2em;

}

#hebergements > div > a > figure:hover {
	transform: scale(1.05); /* Agrandi les cartes au survol */ 
}

#hebergements > div > a > figure > div > img {
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    height: 6em;
    width: 100%;
}


#hebergements > div > a > figure > figcaption {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    align-content: space-around;
    height: 100%;
}

#hebergements > div > a > figure > figcaption > span {
    display: flex;
    flex-direction: row;
    color: #0065FC;
    padding: 0.3em 0em;
}

#hebergements > div > a > figure > figcaption > span, #hebergements > div > a > figure > figcaption > p, #hebergements > div > a > figure > figcaption > h3 {
    padding: 0.1em 0em;
}

#hebergements > div > a > figure > figcaption > span > i {
    font-size: 0.6em;
    padding: 0.5em 0em;
}


#hebergements > p  {
    margin-top: 1.5em;
}


#hebergements > p > a {
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
}

/*populaires */

#populaires {
    background-color: #f2f2f2;
    border-radius: 1em;
    padding: 2em;
}

#populaires > div:first-child {
    display: flex;
    justify-content: space-between; 
}

#populaires > div > a > figure {
  background: #fffFFF;
  border-radius: 1rem;
  box-shadow: 0 0 1em #0000002e;
  transition: transform 0.5s ease;
  flex-grow: 1;
  margin: 1.5em 0em 1em 0em;
  padding: 0.4em;
  display: flex;
  height: 7.4em;
}

#populaires > div > a > figure:hover {
	transform: scale(1.05); /* Agrandi les cartes au survol */ 
}

#populaires > div > a > figure > div {
    width: 40%;
}

#populaires > div > a > figure > div > img {
    object-fit: cover;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
    width: 7em;
}


#populaires > div > a > figure > figcaption {
    padding: 0.9em;
}

#populaires > div > a > figure > figcaption > p {
    font-size: 0.8rem;
    padding: 1em 0em;   
}

#populaires > div > a > figure > figcaption > span {
    display: flex;
    flex-direction: row;
    color: #0065FC;
}

#populaires > div > a > figure > figcaption > span {
    font-size: 0.6em;
    padding: 0.5em 0em;
}
    
/* Activité */

#activites > h1 {
    margin-top: 2em;
}

#activites > div {
    display: flex;
    margin-top: 1.5em;
    justify-content: space-between;
}

.list {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.full > a > figure {
    background: #fffFFF;
    border-radius: 1rem;
    box-shadow: 0 0 1em #0000002e;
    transition: transform 0.5s ease;
    height: 23em;
    width: 16em;
}

.list > a > figure {
    background: #fffFFF;
    border-radius: 1rem;
    box-shadow: 0 0 1em #0000002e;
    transition: transform 0.5s ease;
    height: calc(20em / 2);
    width: 16em;
}

.list > a > figure:hover, .full > a > figure:hover  {
	transform: scale(1.05); /* Agrandi les cartes au survol */ 
}

.full > a > figure > div > img {
    border-radius: 1rem 1rem 0 0rem;
    object-fit: cover;
    height: 20em;
    width: 100%;
}

.list > a > figure > div > img {
    border-radius: 1rem 1rem 0 0rem;
    object-fit: cover;
    height: 7em;
    width: 100%;
}

.full > a > figure > figcaption > h3, .list > a > figure > figcaption > h3 {
    padding: 1em;   
}


/* footer */


footer {
   display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 3em 4.3em;
    margin-top: 3em;
}

footer > div:last-child {
    margin-right: 6em;
}

footer > div > p {
    padding: 0.3em 0em;
}

footer > div > h4 {
    margin-bottom: 1em;
}

/*Responsive - Masquer la recherche mobile*/

@media (min-width: 601px) {
    
#recherche > form > div > button {
    display: none;
    }


header > div > ul {
    display: none;
}

}
    
/*Responsive - mobile*/
@media (max-width: 600px) {
    
    header, main {
    margin: 0em 0em;
    }
    
    header > img {
    margin-left: 1em;
    }
    
    header > nav > ul > li {
    display: none;
    }
    
    header > nav > ul > li:hover {
    border-top: 0.2rem solid #FFFFFF;
    }

    
    header > nav > ul > li:last-child{
    display: block;
    }
    
    /*recherche*/
    #recherche > div > ul, #recherche > div > ul > li > a, #recherche > div:last-child {
    padding: 0em;
    }
    
    #recherche > div:last-child {
    flex-wrap: nowrap;
    }
    
    #recherche > form > div > input {
    width: 14em;
    }
    
    #search-desktop{
    display: none;
    }
    
    /*filtres*/
    #recherche {
    margin: 0 1em;
    }
    
    #recherche > div {
    display: inline-block;
    }
    
    #recherche > div > ul > li {
    margin: 0.5em 0.5em 0em 0em;
    }

    
    #contenu-main {
    flex-wrap: wrap;
    }
    
    #hebergements {
    padding: 1em;
    border-radius: 0em;
    background-color: #ffffff;
    order: 1; 
    width: 100%;
    }
    
    #hebergements > div {
    width: 100%;
    }
        
    #hebergements > div > a > figure {
    width: 100%;
    }
    
    #populaires {
    border-radius: 0em;
    padding: 1em;
    order: 0; /*Défaut is 1*/
    width: 100%;
    }
    
    #activites {
    padding: 0em 1em;
    width: 100%;
    }
    
    #activites > div {
    flex-wrap: wrap;
    }
    
    .full > a > figure {
    height: 10em;
    width: 100%;
    margin-top: 1em;
    }
    
    .full > a > figure > div > img {
    height: 7em;
    width: 100%;
    }
    
    .list > a > figure {
    margin-top: 1em;
    width: 100%;
    }
    
    footer {
    flex-direction: column;
    padding: 1em 1em;
    }
    
    footer > div {
    margin-top: 2em;
    }
    
}

/*Responsive - tablette 768px*/
@media (max-width: 768px) and (min-width: 600px) {
    
    header, main {
    margin: 0em 1em;
    }
    
    /*filtres*/
    #recherche {
    margin: 0 1em;
    }
    
    #recherche > div {
    display: inline-block;
    }
    
    #recherche > div > ul > li {
    margin: 0.5em 0.5em 0em 0em;
    }
    
    #recherche > div > ul, #recherche > div > ul > li > a, #recherche > div:last-child {
    padding: 0em;
    }
    
    #recherche > div:last-child {
    flex-wrap: nowrap;
    }
    
    #contenu-main {
    flex-wrap: wrap;
    }
    
    #hebergements > div {
    width: 100%;   
    }
    
    #hebergements > div > a > figure {
    width: 13em;
    }
    
    #populaires {
    width: 100%;
    margin-top: 1em;
    }
        
    #populaires > div > a > figure > div > img {
    width: 16em;   
    }
    
    #populaires > div > a > figure {
    height: 11.4em;
    }
    
    #activites > div {
    flex-wrap: wrap;
    }
    
    .full{
    margin-bottom: 1em;  
    }
    
    .full > a > figure {
    width: 46em;
    }
    
    .list {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em; 
    width: 100%;
    }
    
    .list > a > figure {
    height: calc(26em / 2);
    width: 22em;
    }
    
    .list > a > figure > div > img {
    height: 10em;    
    }
    
    footer {
    padding: 3em 1.3em;    
    }   
}


/*Responsive - desktop 1024px*/

@media (max-width: 1024px) and (min-width: 769px) {
    header, main {
    margin: 0em 1em;
    }
    
    #hebergements {
    margin-right: 1em;
    }
    
    #hebergements > div {
    width: 35em;
    }
    
    #hebergements > div > a > figure {
    width: 16.5em;
    }
    
    #activites > div {
    flex-wrap: wrap;
    }
    
    .list > a > figure {
    width: 14em;    
    }
    
    .full > a > figure {
    width: 15em;   
    }
}

/*Responsive - Laptop 1440px*/
@media (max-width: 1439px) and (min-width: 1025px) {
    #hebergements > div {
    width: 48em;  
    }
    
    .full > a > figure {
    width: 21em;
    }
}   


/*Responsive - HD 1920px*/
@media (max-width: 1920px) and (min-width: 1441px) {
    #hebergements > div {
    width: 75em;
    }
    #hebergements > div > a > figure {
    width: 24em;
    height: 15em;
    }
    
    #hebergements > div > a > figure > div > img {
    height: 10em;
    }
    
    #populaires > div > a > figure {
    height: 9.4em;
    }
    
    #populaires > div > a > figure > div > img {
    width: 10em;    
    }
    
    .full > a > figure {
    width: 25em; 
    height: 29.5em;
    }
    
    .list > a > figure {
    width: 29em;
    height: calc(28em / 2);
    }
    
    .list > a > figure > div > img {
    height: 11em;    
    }
    
    .full > a > figure > div > img {
    height: 26em;   
    }
}


/*Responsive - 4k*/
@media (min-width: 2560px) {
    
    h1, h2 {
    font-size: 1.5rem; 
    }

    h3 {
    font-size: 1.5rem;
    color: #000000;
    }
    
    footer > div > h4 {
    font-size: 1.5rem;
    }

    p{
    font-size: 1.5rem;
    color:#000000;
    }
    
    #recherche > form > div {
    margin-top: 2em;
    }
    
    #recherche > div {
    margin-top: 3em;
    }
    
    #hebergements > p > a {
    font-size: 1.5rem;
    }
    
    #hebergements > div {
    width: 107em;   
    }
    
    #hebergements > div > a > figure {
    width: 34em;
    height: 20em;
    }
    
    #hebergements > div > a > figure > div > img {
    height: 12em;   
    }
    
    #hebergements > div > a > figure > figcaption > span > i {
    font-size: 1em;
    padding: 0.5em 0em;
    }
    
    #populaires > div > a > figure{
    height: 13em;
    }
    
    #populaires > div > a > figure > figcaption > span {
    font-size: 1em;
    }
    
    #populaires > div > a > figure > figcaption > p {
    font-size: 1.4rem;
    }
    
    #populaires > div > a > figure > div > img {
    width: 14em;
    }
        
    .full > a > figure {
    width: 40em;
    height: 34em;
    }
    
    .full > a > figure > div > img {
    height: 29em;
    }
    
    .list > a > figure {
    width: 33em; 
    height: calc(32em / 2);
    }
    
    .list > a > figure > div > img{
    height: 11em;
    }
}



