* {
    list-style: none;
    text-decoration: none;
    margin: 0;
}

/*Général */
body {
font-family: 'Raleway', sans-serif;
}

h1, h2 {
font-size: 1rem;
}

h3 {
font-size: 0.875rem;
}

p{
font-size: 0.750rem;
color:#000000;
}

/*Header */

header {
    display: flex;
    justify-content: space-between;
}

header > nav > ul{
    display: flex;
}

header > nav > ul > li {
    padding: 10px;
    justify-content: flex-end;
    border-top: 0.2rem solid #FFFFFF;
}

header > nav > ul > li:hover {
    border-top: 0.2rem solid #0065FC;

}

header > nav > ul > li > a > p:hover {
    color: #0065FC;     
}



/* Sections repères */

Header {
    background-color: aliceblue
}

#recherche {
   background-color: aliceblue 
}

#articles {
   background-color: aliceblue 
}

main {
    border: solid red;
}

aside {
    border: solid red;
}

#activites {
   background-color: aliceblue 
}

.full {
    border: solid green;
}

.list{
    border: solid green;
}


footer {
   background-color: aliceblue 
}